/users/
filtered_articles.tsv
journal_articles_everything.tsv
journal_articles_pubmed.tsv
journal_articles_pubmed_scimago.tsv
journal_articles_pubmed_scimago_wos.tsv
journal_articles_pubmed_scimago_wos_doaj.tsv
/src/.RData
/src/.Rhistory
/src/.bashrc